<!-- setting.html -->
{% extends "base.html" %}

{% block title %}Setting{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block float %}
{% endblock %}

{% block work_area %}
<div class="work-area">
    <div class="work-center">
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 01</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 02</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 03</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 04</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 05</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 06</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 07</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 08</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 09</h3>
        </div>
        <div class="uk-card uk-card-body uk-border-rounded">
            <h3 class="uk-card-title">Setting 10</h3>
        </div>
    </div>
</div>
{% endblock %}
