<!-- txt2img.html -->
{% extends "base.html" %}

{% block title %}Text to Image{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/txt2img.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/txt2img.js') }}"></script>
{% endblock %}

{% block float %}{% endblock %}

{% block work_area %}
<div class="work-area">
    <div class="work-center" id="placeholderContainer"></div>
    <div class="work-sidebar">
        <div class="gen-btn-area">
            <button class="uk-button uk-button-primary uk-margin-top" type="button" id="generate" onclick="generateImage()">
                <img src="{{ url_for('static', filename='image/icon/leaf_white.png') }}">
                Generate
            </button>
            <div class="divider"></div>
        </div>

        <form>
            <div uk-accordion="collapsible: true">
                <div class="uk-accordion-content">
                    <div class="uk-margin">
                      <label class="uk-form-label" for="positivePrompt">Positive prompt:</label>
                      <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="positivePrompt" rows="3" placeholder="positive prompt" onfocus="clearPlaceholder('positivePrompt')"></textarea>
                      </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                      <label class="uk-form-label" for="negativePrompt">Negative prompt:</label>
                      <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="negativePrompt" rows="2" placeholder="negative prompt" onfocus="clearPlaceholder('negativePrompt')"></textarea>
                      </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="checkpoint">Checkpoint:</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="checkpoint"></select>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="lora1">Lora model 01:</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="lora1"></select>
                            <span class="lora-font">weight</span>
                            <input class="uk-input" id="lora1Weight" type="number" min="0.1" step="0.1" max="1.5" value="1.0">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="lora2">Lora model 02:</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="lora2"></select>
                            <span class="lora-font">weight</span>
                            <input class="uk-input" id="lora2Weight" type="number" min="0.1" step="0.1" max="1.5" value="1.0">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="lora3">Lora model 03:</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="lora3"></select>
                            <span class="lora-font">weight</span>
                            <input class="uk-input" id="lora3Weight" type="number" min="0.1" step="0.1" max="1.5" value="1.0">
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="style">Image style:</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="style"></select>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <label class="uk-form-label">Image scale:</label>
                        <div class="slider-label">
                            <img class="slider-img" src="{{ url_for('static', filename='image/icon/horizontal_screen.png') }}">
                            <label id="imageScale">1:1</label>
                            <img class="slider-img" src="{{ url_for('static', filename='image/icon/vertical_screen.png') }}">
                        </div>
                        <div class="uk-form-controls image-scale-part">
                            <div class="image-scale-slider">
                                <input class="uk-range" id="imageScaleSlider" type="range" value="4" min="1" max="7" step="1" oninput="updateImageScale(this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <div class="slider-label">
                            <label class="uk-form-label" for="imageCountSlider">Image count:</label>
                            <label id="imageCount">4</label>
                        </div>
                        <div class="uk-form-controls image-count-part">
                            <div class="image-count-slider">
                                <input class="uk-range" id="imageCountSlider" type="range" value="4" min="1" max="6" step="1" oninput="updateImageCount(this.value)">
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="uk-margin">
                        <label class="uk-form-label">Image background:</label>
                        <div class="uk-form-controls uk-form-controls-text my-radio">
                            <label><input class="uk-radio" type="radio" value="true" name="removebg_radio"> Remove</label>
                            <label><input class="uk-radio" type="radio" value="false" name="removebg_radio" checked> Keep</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}